[submodule "roles/pilzpush-ansible-influxdb"]
	path = roles/pilzpush-ansible-influxdb
	url = git@github.com:AKJack/pilzpush-ansible-influxdb.git
[submodule "roles/pilzpush-ansible-grafana"]
	path = roles/pilzpush-ansible-grafana
	url = git@github.com:AKJack/pilzpush-ansible-grafana.git
[submodule "roles/pilzpush-ansible-collector"]
	path = roles/pilzpush-ansible-collector
	url = git@github.com:AKJack/pilzpush-ansible-collector.git
[submodule "roles/pilzpysh-ansible-collector"]
	path = roles/pilzpysh-ansible-collector
	url = git@github.com:AKJack/pilzpysh-ansible-collector.git
